@{
    ViewData["Title"] = "Professional e-commerce store & restaurant websites builder.";
}

<div>
    <!-- Templates -->
    <div style="margin-bottom:150px">
        <div class="container">
            <h2 class="text-center Header5">Our templates</h2>
            <br />
            <br />
            <br />
            <br />
            <span style="font-size:25px;font-weight:200">RESTAURANTS TEMPLATES (4)</span>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="template">

                    </div>
                    <h6 class="text-center">Template 1</h6>
                    <br />
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="template">

                    </div>
                    <h6 class="text-center">Template 2</h6>
                    <br />
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="template">

                    </div>
                    <h6 class="text-center">Template 3</h6>
                    <br />
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="template">

                    </div>
                    <h6 class="text-center">Template 4</h6>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<!-- WHY SHOULD YOU WORK WITH US -->
<div style="margin-bottom:150px">
    <div class="container">
        <h2 class="text-center Header6">What we exactly do ?</h2>
        <br />
        <br />
        <p class="text-center">
            APPDEV Studios is a team of professionals having years of experience working as website designers, graphic artisits, marketers and SEO experts.
            We can design any type of user interfaces which are clean, elegant and easy to use. We have created numerous web & mobile designs which are used by dozens of people today. If you want to increase your online revenue by improving your online presence, then just get in touch with us to make it happen with APPDEV Studios!
        </p>
        <br />
        <br />
        <br />
        <div class="row justify-content-between">
            <div class="col-12 vol-sm-12 col-md-6 col-lg-4">
                <div class="row leftSection">
                    <div class="col-12 text textLeft">
                        <br />
                        <i style="color:orangered;font-size:25px" class="fas fa-code"></i><span style="margin-left:5px;font-size:18px;font-weight:300"> CLEAN CODE & DESIGN</span>
                        <br />
                        <br />
                        <p>We specialize in creating modern and responsive (mobile-friendly) and effective websites.  If you need professional and fast loading website - then we're a team for you.</p>
                    </div>

                    <div class="col-12 text textLeft" id="text2">
                        <br />

                        <i style="color:limegreen;font-size:25px" class="fas fa-server"></i><span style="margin-left:5px;font-size:18px;font-weight:300"> SERVER DEPLOYMENT</span>
                        <br />
                        <br />
                        <p>Our purpose is to be with you until your store is online. We will deploy your website on the most suitable server for the ASP.NET CORE architecture.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 vol-sm-12 col-md-6 col-lg-4" id="IphoneMock1">
                <img src="~/images/iphoneMock.jpg" style="width:300px;height:570px" />
            </div>

            <div class="col-12 vol-sm-12 col-md-6 col-lg-4">
                <div class="row leftSection">
                    <div class="col-12 text textRight">
                        <br />
                        <i style="color:gold;font-size:25px" class="fas fa-hourglass-half"></i><span style="margin-left:5px;font-size:18px;font-weight:300"> DELIVERED ON TIME</span>
                        <br />
                        <br />
                        <p>Thanks to our ready-made projects samples, we always deliver work on time. This is the core element of our success. We 100% guarantee 1-week duration period for all your projects.</p>
                    </div>

                    <div class="col-12 text textRight">
                        <br />

                        <i style="color:rebeccapurple;font-size:25px" class="fas fa-bug"></i><span style="margin-left:5px;font-size:18px;font-weight:300">TESTING & BUGS FIXING </span>
                        <br />
                        <br />
                        <p>Bug fixing is a pretty crucial step in the development of a website. Hence we fully assume this responsibility if any bug is found ( up to 1 week after delivery ).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pricing -->

<div class="container" style="margin-top:150px;">
    <h2 class="text-center Header6">What budget for your website ?</h2>
    <br />
    <br />
    <br />
    <br />
    <section>
        <div class="container pricing-container">
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <div>

                                </div>
                            </th>
                            <th>
                                <div class="heading">Basic</div>
                                <div class="info">
                                    <div class="amount">$180</div>
                                </div>
                            </th>
                            <th>
                                <div class="heading">Standard</div>
                                <div class="info">
                                    <div class="popular">Popular</div>
                                    <div class="amount">$250</div>
                                </div>
                            </th>
                            <th>
                                <div class="heading">Premium</div>
                                <div class="info">
                                    <div class="amount">$400</div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1-4 Responsive Pages</td>
                            <td>
                                <svg class="starter" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>7 days delivery</td>
                            <td>
                                <svg class="starter" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Domain Included</td>
                            <td>
                                <svg class="starter" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Hosting Included</td>
                            <td>
                                <svg class="starter" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Server Deployment</td>
                            <td>
                                <svg class="starter" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Admin Panel</td>
                            <td>
                                <svg class="not-included" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" /></svg>
                            </td>
                            <td>
                                <svg class="essential" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>4-7 Responsive Pages</td>
                            <td>
                                <svg class="not-included" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" /></svg>
                            </td>
                            <td>
                                <svg class="not-included" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Full customization</td>
                            <td>
                                <svg class="not-included" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" /></svg>
                            </td>
                            <td>
                                <svg class="not-included" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z" /></svg>
                            </td>
                            <td>
                                <svg class="professional" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" /></svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


<!-- Reviews -->
<div class="reviews">
    <div class="container" style="margin-top:150px">
        <h2 class="text-center Header6">Our awesome clients</h2>
        <br />
        <br />
        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-5 col-lg-3">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <div><h3 class="text-center"><img class="client1" /></h3></div>
                    <br />
                    <h6 class="text-center">Anna Stepanenko</h6>
                    <span class="text-muted">chef at chachka resto</span>
                </div>
                <br />
                <p class="text-center">
                    Very good template. Also my site is amazing.
                </p>
            </div>

            <div class="col-10 col-sm-10 col-md-5 col-lg-3">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <div><h3 class="text-center"><img class="client2" /></h3></div>
                    <br />
                    <h6 class="text-center">Luigi Matte</h6>
                    <span class="text-muted">Luigito pizzeria</span>
                </div>
                <br />
                <p class="text-center">
                    Hi! i'm luigi, Great work from your team. I appreciate it.
                </p>
            </div>

            <div class="col-10 col-sm-10 col-md-5 col-lg-3">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <div><h3 class="text-center"><img class="client3" /></h3></div>
                    <br />
                    <h6 class="text-center">Stephen Adeleke</h6>
                    <span class="text-muted">chef at queens burger</span>
                </div>
                <br />
                <p class="text-center">
                    Terrific website delivered in just five days. Wow! Loved it!
                </p>
            </div>

            <div class="col-10 col-sm-10 col-md-5 col-lg-3">
                <br />
                <br />
                <br />
                <div class="text-center">
                    <div><h3 class="text-center"><img class="client4" /></h3></div>
                    <br />
                    <h6 class="text-center">Andrew Smith</h6>
                    <span class="text-muted">Web designer</span>
                </div>
                <br />
                <p class="text-center">
                    Clean and fresh design, not condensed. Keep it up guys !
                </p>
            </div>
        </div>
    </div>


    <!-- FAQ -->

    <div>
        <div class="container" style="margin-top:150px">

            <h2 class="text-center Header7">Frequently asked questions</h2>
            <br />
            <br />
            <br />
            <ul class="accordion">
                <li class="question1">
                    <a>What are the requirements to initiate the development process?</a>
                    <p>1. LOGO (For website branding/color scheme). 2. Content (text and images that you want to be on the website). 3. Any reference websites that you like or websites of your competitor. 4. Domain/Hosting fees ( included in the PLAN ), if you want us to make it live on your web server.</p>
                </li>
                <li class="question">
                    <a>How will the process work?</a>
                    <p>1. You will choose one of our template project you've liked. 2. We will apply some modifications to the template depending on details and requirements you've sent us. You will be able to see the site on our server. 3. If there are any changes, you can let us know, we will make those changes and when its complete, we will host it on your server. </p>
                </li>
                <li class="question">
                    <a>Are domain and hosting prices included in my website budget PLAN?</a>
                    <p>Yes. domain and hosting prices are included in the website budget PLAN. The amount you send for domain/hosting will be deducted from the budget PLAN you will have to pay.</p>
                </li>
                <li class="question">
                    <a>Are you available for customized order?</a>
                    <p>Yes, only for PREMIUM PLAN.</p>
                </li>
                <li class="question">
                    <a>What if I am not satisfied with the delivery or if that requires modifications?</a>
                    <p>You can request modifications. </p>
                </li>
            </ul>

        </div>
    </div>



</div>


<div class="container" style="z-index:100;">
    <!-- Contact US -->

    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
            <div class="container-contact100">
                <div class="wrap-contact100">
                    <form class="contact100-form validate-form" method="post" asp-action="SendEmail" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content" data-ajax-success="succeed()" data-ajax-loading="#loader">
                        <span class="contact100-form-title">
                            Send us an email!
                        </span>

                        <div class="wrap-input100 validate-input"
                             data-validate="Name is required">
                            <span class="label-input100">Your Name</span>
                            <input class="input100"
                                   type="text"
                                   name="name"
                                   placeholder="Enter your name" />
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input"
                             data-validate="Valid email is required: ex@abc.xyz">
                            <span class="label-input100">Email</span>
                            <input class="input100"
                                   type="text"
                                   name="email"
                                   placeholder="Enter your email addess" />
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 input100-select">
                            <span class="label-input100">Needed Service</span>
                            <div>
                                <select class="selection-2" name="service">
                                    <option>Restaurant Store</option>
                                    <option>eCommerce Store</option>
                                </select>
                            </div>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 input100-select">
                            <span class="label-input100">Plan</span>
                            <div>
                                <select class="selection-2" name="budget">
                                    <option>Select Plan</option>
                                    <option>Basic</option>
                                    <option>Standard</option>
                                    <option>Premium</option>
                                </select>
                            </div>
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input"
                             data-validate="Message is required">
                            <span class="label-input100">Message</span>
                            <textarea class="input100"
                                      name="message"
                                      placeholder="Your message here..."></textarea>
                            <span class="focus-input100"></span>
                        </div>

                        <div id="success" style="display:none">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span>Your email has been successfully sent !</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>


                        <div class="container-contact100-form-btn">
                            <div class="wrap-contact100-form-btn">
                                <div class="contact100-form-bgbtn"></div>
                                <button class="contact100-form-btn submitBTN" type="button">
                                    <span>
                                        Submit
                                        <i class="fa fa-long-arrow-right m-l-7"
                                           aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="dropDownSelect1"></div>
        </div>

    </div>
</div>